ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(25, 176, 222);
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: white;
}

.active {
    background-color: white;
}
h1{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
}
h2{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
}